<a href="/scorebook/<%-element.id %>" class="scroll-item list-group-item list-group-item-action rounded">
    <p class="p-date">
        <%-element.date %>
    </p>
    <p class="p-vs">VS</p>
    <p class="p-opponent">
        <%-element.opponent %>
    </p>
</a>