<!doctype html>
<html lang="ja">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style_login.css">
    <link rel="stylesheet" href="/stylesheets/header.css">

    <!-- <link rel="apple-touch-icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon2.ico"> -->

    <title>Batting Results | Login</title>

</head>

<body>

    <%- include("components/header"); %>

        <div id="main">
            <!-- <div class="container"> -->
            <!-- <div id="green-field" class="row justify-content-center align-self-center bg-success"> -->
            <div id="green-field" class="row">
                <div id="brown-field" class="col border border-white m-3">
                    <!-- <div id="white-field" class="border border-dark rounded m-4"> -->
                    <div id="white-field" class="border border-dark rounded">
                        <div id="title_login">ログイン</div>
                        <form method="post" action="/login">
                            <input type="text" id="login_id" name="username" placeholder="ID(E-mail)" required></input>
                            <input type="password" id="login_pass" name="password" placeholder="Password" required></input>
                            <% if(error) {%>
                                <h5 id="error-message" class="text-center">
                                    <%- error %>
                                </h5>
                                <%} %>
                                    <input type="submit" id="loginBtn" class="btn btn-success btn-lg" value="Log in"></input>
                        </form>
                        <a href="/login/regist" id="registBtn">新規登録</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS  -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <!-- <script src="/javascripts/basic3.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/javascripts/submit.js"></script>
</body>

</html>