html {
    body {
        background-color: #f4f5f7;
        div#main {
            margin: 0;
            padding: 0;
            width: 100%;
            div#green-field {
                // height: 500px;
                width: 600px;
                padding-top: 60px;
                margin: 0 auto;
                div#brown-field {
                    // height: 900px;
                    background-color: #8b4513;
                    border-width: 5px !important;
                    h2 {
                        text-decoration: underline;
                        color: aliceblue;
                    }
                    h3 {
                        color: aliceblue;
                    }
                    h4 {
                        color: aliceblue;
                    }
                    table {
                        tbody {
                            tr.tablebody-tr {
                                td.batter_num {
                                    width: 56px;
                                    font-weight: bold;
                                }
                                td.tabledata {
                                    padding: 0;
                                    p {
                                        margin: 0;
                                        button {
                                            width: 250px;
                                            font-size: 30px;
                                            font-weight: bold;
                                            // padding: 0;
                                        }
                                        a {
                                            position: absolute;
                                            right: 20px;
                                        }
                                    }
                                    div.collapsing {
                                        div.card-body {
                                            padding: 1px;
                                            height: 0px !important;
                                            ul {
                                                display: flex;
                                                li {
                                                    list-style: none;
                                                    width: 100%;
                                                    height: 50px;
                                                    border: solid 1px black;
                                                    position: relative;
                                                    padding: 0;
                                                    p {
                                                        position: absolute;
                                                        z-index: 0;
                                                    }
                                                    .hitting_result {
                                                        width: 100%;
                                                        height: 100%;
                                                        line-height: 50px;
                                                        a {
                                                            display: inline-block;
                                                            // line-height: 50%;
                                                            vertical-align: middle;
                                                            width: 100%;
                                                            height: 100%;
                                                            font-weight: bold;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    div.collapse {
                                        // height: 0px;
                                        div.card-body {
                                            padding: 1px;
                                            ul {
                                                display: flex;
                                                li {
                                                    list-style: none;
                                                    width: 100%;
                                                    height: 50px;
                                                    border: solid 1px black;
                                                    position: relative;
                                                    padding: 0;
                                                    p {
                                                        position: absolute;
                                                        z-index: 0;
                                                    }
                                                    .hitting_result {
                                                        width: 100%;
                                                        height: 100%;
                                                        line-height: 50px;
                                                        a {
                                                            display: inline-block;
                                                            // line-height: 50%;
                                                            vertical-align: middle;
                                                            width: 100%;
                                                            height: 100%;
                                                            font-weight: bold;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    a#historyGameBtn {
                        position: absolute;
                        right: 20px;
                        top: 20px;
                    }
                }
            }
        }
    }
}
