html {
    body {
        background-color: #f4f5f7;
        div#main {
            margin: 0;
            padding: 0;
            width: 100%;
            div#green-field {
                // height: 500px;
                width: 600px;
                padding-top: 60px;
                margin: 0 auto;
                div#brown-field {
                    height: 700px;
                    background-color: #8b4513;
                    border-width: 5px !important;
                    .list-group {
                        #scroll-container {
                            height: 550px;
                            margin-top: 30px;
                            overflow: auto;
                            a.scroll-item {
                                overflow: hidden;
                                margin-bottom: 10px;
                                p {
                                    margin: 0;
                                    &.p-date {
                                        display: inline-block;
                                        font-size: 20px;
                                        width: 30%;
                                    }
                                    &.p-vs {
                                        display: inline-block;
                                    }
                                    &.p-opponent {
                                        display: inline-block;
                                        font-size: 30px;
                                    }
                                }
                            }
                        }
                    }
                    #goHomeBtn {
                        position: absolute;
                        top: 620px;
                        left: 50%;
                        transform: translateY(0) translateX(-50%);
                    }
                }
            }
        }
    }
}
