html {
    body {
        div.container {
            div#green-field {
                // height: 500px;
                // width: 600px;
                div#brown-field {
                    height: 500px;
                    background-color: #8b4513;
                    border-width: 5px !important;
                    a#logoutBtn {
                        float: right;
                        margin-top: 10px;
                    }
                    #title {
                        position: absolute;
                        text-align: center;
                        color: #fff;
                        width: 90%;
                        height: auto;
                        top: 50px;
                        left: 50%;
                        transform: translateY(0) translateX(-50%);
                        font-size: 40px;
                        font-weight: bold;
                    }
                    #date {
                        position: absolute;
                        text-align: center;
                        color: #fff;
                        width: 40%;
                        height: auto;
                        top: 150px;
                        left: 25%;
                        // transform: translateY(0) translateX(-50%);
                        font-size: 30px;
                    }
                    #vs {
                        position: absolute;
                        text-align: center;
                        color: #fff;
                        width: 40%;
                        height: auto;
                        top: 235px;
                        left: 17%;
                        transform: translateY(0) translateX(-50%);
                        font-size: 30px;
                    }
                    #opponent {
                        position: absolute;
                        text-align: center;
                        width: 60%;
                        height: auto;
                        top: 210px;
                        left: 55%;
                        transform: translateY(0) translateX(-50%);
                        font-size: 30px;
                        // border: solid 1px #000;
                        background-color: #fff;
                    }
                    h3 {
                        position: absolute;
                        top: 290px;
                        left: 52%;
                        width: 100%;
                        transform: translateY(0) translateX(-50%);
                        color: yellow;
                        font-size: 20px;
                    }
                    #gameStartBtn {
                        position: absolute;
                        width: 200px;
                        top: 330px;
                        left: 50%;
                        transform: translateY(0) translateX(-50%);
                    }
                    #historyGameBtn {
                        position: absolute;
                        top: 420px;
                        left: 50%;
                        transform: translateY(0) translateX(-50%);
                    }
                }
            }
        }
    }
}
