@media screen and (max-width: 480px) {
  html {
    height: 100%;
  }
}

html body {
  background-color: #f4f5f7;
}

@media screen and (max-width: 480px) {
  html body {
    height: 100%;
  }
}

html body div#main {
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 480px) {
  html body div#main {
    height: 100%;
  }
}

html body div#main div#green-field {
  padding-top: 60px;
  margin: 0 auto;
  background-color: #99cc33;
}

@media screen and (min-width: 481px) {
  html body div#main div#green-field {
    width: 600px;
  }
}

@media screen and (max-width: 480px) {
  html body div#main div#green-field {
    height: 100%;
  }
}

html body div#main div#green-field div#brown-field {
  background-color: #cc6633;
  border-width: 5px !important;
}

@media screen and (min-width: 481px) {
  html body div#main div#green-field div#brown-field {
    height: 700px;
    padding-top: 15px;
  }
  html body div#main div#green-field div#brown-field div#white-field {
    height: 96%;
    background-color: #fff;
    position: relative;
  }
  html body div#main div#green-field div#brown-field div#white-field #order {
    position: absolute;
    width: 33%;
    height: auto;
    top: 15px;
    left: 10px;
    font-size: xx-large;
  }
  html body div#main div#green-field div#brown-field div#white-field #name {
    position: absolute;
    text-align: center;
    width: 90%;
    height: auto;
    top: 100px;
    left: 50%;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
    font-size: 50px;
    font-weight: bold;
  }
  html body div#main div#green-field div#brown-field div#white-field #box_count {
    position: absolute;
    text-align: center;
    width: 40%;
    height: auto;
    top: 200px;
    left: 50%;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
    font-size: 30px;
  }
  html body div#main div#green-field div#brown-field div#white-field form #result {
    position: absolute;
    text-align: center;
    width: 80%;
    height: auto;
    top: 290px;
    left: 50%;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
    font-size: 40px;
    background-color: #b0c4de;
  }
  html body div#main div#green-field div#brown-field div#white-field form #result:disabled {
    color: #000;
  }
  html body div#main div#green-field div#brown-field div#white-field form #typeAndresult {
    width: 60%;
    position: absolute;
    top: 290px;
    left: 50%;
    -webkit-transform: translateY(0) translateX(-40%);
            transform: translateY(0) translateX(-40%);
  }
  html body div#main div#green-field div#brown-field div#white-field form #typeAndresult #selectType {
    width: 80%;
    margin-bottom: 30px;
  }
  html body div#main div#green-field div#brown-field div#white-field form #typeAndresult #selectBattingResult {
    width: 80%;
  }
  html body div#main div#green-field div#brown-field div#white-field form #resultEnterBtn {
    position: absolute;
    top: 450px;
    left: 50%;
    width: 200px;
    border: ridge 2px #000;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  html body div#main div#green-field div#brown-field div#white-field #changeButton {
    position: absolute;
    top: 400px;
    left: 50%;
    width: 200px;
    border: ridge 2px #000;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  html body div#main div#green-field div#brown-field div#white-field #finishButton {
    position: absolute;
    top: 500px;
    left: 50%;
    width: 200px;
    border: ridge 2px #000;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  html body div#main div#green-field div#brown-field div#white-field a#back {
    position: absolute;
    display: inline-block;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    top: 20px;
    left: 80%;
    width: 120px;
    height: 50px;
    line-height: 200%;
    font-size: large;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
}

@media screen and (max-width: 480px) {
  html body div#main div#green-field div#brown-field {
    height: 94%;
    padding: 0;
  }
  html body div#main div#green-field div#brown-field div#white-field {
    height: 96%;
    background-color: #fff;
    position: relative;
  }
  html body div#main div#green-field div#brown-field div#white-field #order {
    position: absolute;
    width: 50%;
    height: auto;
    top: 15px;
    left: 10px;
    font-size: xx-large;
  }
  html body div#main div#green-field div#brown-field div#white-field #name {
    position: absolute;
    text-align: center;
    width: 90%;
    height: auto;
    top: 75px;
    left: 50%;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
    font-size: 50px;
    font-weight: bold;
  }
  html body div#main div#green-field div#brown-field div#white-field #box_count {
    position: absolute;
    text-align: center;
    width: 40%;
    height: auto;
    top: 155px;
    left: 50%;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
    font-size: 30px;
  }
  html body div#main div#green-field div#brown-field div#white-field form #result {
    position: absolute;
    text-align: center;
    width: 80%;
    height: 70px;
    top: 215px;
    left: 50%;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
    font-size: 40px;
    background-color: #b0c4de;
  }
  html body div#main div#green-field div#brown-field div#white-field form #result:disabled {
    -webkit-text-fill-color: black;
    opacity: 1;
  }
  html body div#main div#green-field div#brown-field div#white-field form #typeAndresult {
    width: 60%;
    position: absolute;
    top: 205px;
    left: 50%;
    -webkit-transform: translateY(0) translateX(-40%);
            transform: translateY(0) translateX(-40%);
  }
  html body div#main div#green-field div#brown-field div#white-field form #typeAndresult #selectType {
    width: 80%;
    margin-bottom: 15px;
  }
  html body div#main div#green-field div#brown-field div#white-field form #typeAndresult #selectBattingResult {
    width: 80%;
  }
  html body div#main div#green-field div#brown-field div#white-field form #resultEnterBtn {
    position: absolute;
    top: 355px;
    left: 50%;
    width: 200px;
    border: ridge 2px #000;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  html body div#main div#green-field div#brown-field div#white-field #changeButton {
    position: absolute;
    top: 305px;
    left: 50%;
    width: 200px;
    border: ridge 2px #000;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  html body div#main div#green-field div#brown-field div#white-field #finishButton {
    position: absolute;
    top: 370px;
    left: 50%;
    width: 200px;
    border: ridge 2px #000;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  html body div#main div#green-field div#brown-field div#white-field a#back {
    position: absolute;
    display: inline-block;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    top: 20px;
    left: 80%;
    width: 80px;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
}
/*# sourceMappingURL=style_forbatterBox.css.map */