@import "_breakpoints";
@import "_mixin";
@import "header.scss";
html {
    background-color: #000;
    @include mq(sm) {
        height: 100%;
    }
    body {
        background-color: #f4f5f7;
        @include mq(sm) {
            height: 100%;
        }
        div#main {
            background-color: #000;
            margin: 0;
            padding: 0;
            width: 100%;
            @include mq(sm) {
                height: 100%;
            }
            div#green-field {
                @extend %boxNeon;
                padding-top: 20px;
                margin: 0 auto;
                background-color: #000;
                @include mq(md) {
                    width: 600px;
                }
                @include mq(sm) {
                    height: 100%;
                }
                div#brown-field {
                    @extend %boxNeon;
                    padding: 0;
                    @include mq(md) {
                        height: 700px;
                    }
                    @include mq(sm) {
                        height: 94%;
                    }
                    div#white-field {
                        @extend %boxNeon;
                        @extend %textNeon;
                        height: 30%;
                        position: relative;
                        @include mq(md) {
                            margin: 20px;
                        }
                        @include mq(sm) {
                            margin: 15px;
                        }
                        div#registMessage {
                            @include mq(md) {
                                margin: 20px;
                            }
                            @include mq(sm) {
                                margin: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}