html {
    height: 100%;
    body {
        height: 100%;
        div#main {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            div#green-field {
                height: 100%;
                // width: 600px;
                padding-top: 60px;
                margin: 0 auto;
                div#brown-field {
                    height: 94%;
                    background-color: #8b4513;
                    border-width: 5px !important;
                    padding: 0;
                    #title {
                        position: absolute;
                        text-align: center;
                        color: #fff;
                        width: 90%;
                        height: auto;
                        top: 30px;
                        left: 50%;
                        transform: translateY(0) translateX(-50%);
                        font-size: 40px;
                        font-weight: bold;
                    }
                    #date {
                        position: absolute;
                        text-align: center;
                        color: #fff;
                        width: 40%;
                        height: auto;
                        top: 130px;
                        left: 25%;
                        // transform: translateY(0) translateX(-50%);
                        font-size: 30px;
                    }
                    #vs {
                        position: absolute;
                        text-align: center;
                        color: #fff;
                        width: 40%;
                        height: auto;
                        top: 200px;
                        left: 17%;
                        transform: translateY(0) translateX(-50%);
                        font-size: 30px;
                    }
                    #opponent {
                        position: absolute;
                        text-align: center;
                        width: 60%;
                        height: auto;
                        top: 180px;
                        left: 55%;
                        transform: translateY(0) translateX(-50%);
                        font-size: 30px;
                        // border: solid 1px #000;
                        background-color: #fff;
                    }
                    h3 {
                        position: absolute;
                        top: 290px;
                        left: 52%;
                        width: 100%;
                        transform: translateY(0) translateX(-50%);
                        color: yellow;
                        font-size: 20px;
                    }
                    #gameStartBtn {
                        position: absolute;
                        width: 200px;
                        top: 300px;
                        left: 50%;
                        transform: translateY(0) translateX(-50%);
                    }
                    #historyGameBtn {
                        position: absolute;
                        top: 380px;
                        left: 50%;
                        transform: translateY(0) translateX(-50%);
                    }
                }
            }
        }
    }
}
