html body div.container div#green-field div#brown-field {
  background-color: #8b4513;
  border-width: 5px !important;
  padding-top: 10px;
  padding-bottom: 20px;
}

html body div.container div#green-field div#brown-field a#logoutBtn {
  float: right;
}

html body div.container div#green-field div#brown-field h2 {
  text-decoration: underline;
  color: aliceblue;
  float: left;
}

html body div.container div#green-field div#brown-field h3 {
  float: left;
}

html body div.container div#green-field div#brown-field table#playing-member tbody tr.tablebody-tr td.batter_num {
  width: 56px;
  font-weight: bold;
}

html body div.container div#green-field div#brown-field table#playing-member tbody tr.tablebody-tr td.tabledata {
  padding: 0;
}

html body div.container div#green-field div#brown-field table#playing-member tbody tr.tablebody-tr td.tabledata p {
  margin: 3px 0 3px;
}

html body div.container div#green-field div#brown-field table#playing-member tbody tr.tablebody-tr td.tabledata p button {
  width: 150px;
  font-size: 25px;
  font-weight: bold;
  padding: 0;
}

html body div.container div#green-field div#brown-field table#playing-member tbody tr.tablebody-tr td.tabledata div.collapsing div.card-body {
  padding: 1px;
  height: 0px !important;
}

html body div.container div#green-field div#brown-field table#playing-member tbody tr.tablebody-tr td.tabledata div.collapsing div.card-body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body div.container div#green-field div#brown-field table#playing-member tbody tr.tablebody-tr td.tabledata div.collapsing div.card-body ul li {
  list-style: none;
  width: 100%;
  height: 40px;
  border: solid 1px black;
  position: relative;
  padding: 0;
}

html body div.container div#green-field div#brown-field table#playing-member tbody tr.tablebody-tr td.tabledata div.collapsing div.card-body ul li p {
  position: absolute;
  z-index: 0;
}

html body div.container div#green-field div#brown-field table#playing-member tbody tr.tablebody-tr td.tabledata div.collapsing div.card-body ul li .hitting_result {
  width: 100%;
  height: 100%;
  line-height: 50px;
}

html body div.container div#green-field div#brown-field table#playing-member tbody tr.tablebody-tr td.tabledata div.collapsing div.card-body ul li .hitting_result a {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: larger;
}

html body div.container div#green-field div#brown-field table#playing-member tbody tr.tablebody-tr td.tabledata div.collapse div.card-body {
  padding: 1px;
}

html body div.container div#green-field div#brown-field table#playing-member tbody tr.tablebody-tr td.tabledata div.collapse div.card-body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body div.container div#green-field div#brown-field table#playing-member tbody tr.tablebody-tr td.tabledata div.collapse div.card-body ul li {
  list-style: none;
  width: 100%;
  height: 40px;
  border: solid 1px black;
  position: relative;
  padding: 0;
}

html body div.container div#green-field div#brown-field table#playing-member tbody tr.tablebody-tr td.tabledata div.collapse div.card-body ul li p {
  position: absolute;
  z-index: 0;
}

html body div.container div#green-field div#brown-field table#playing-member tbody tr.tablebody-tr td.tabledata div.collapse div.card-body ul li .hitting_result {
  width: 100%;
  height: 100%;
  line-height: 50px;
}

html body div.container div#green-field div#brown-field table#playing-member tbody tr.tablebody-tr td.tabledata div.collapse div.card-body ul li .hitting_result a {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: larger;
}

html body div.container div#green-field div#brown-field table#changed-member {
  width: 60%;
}

html body div.container div#green-field div#brown-field table#changed-member tbody tr.tablebody-tr td.batter_num {
  width: 56px;
  font-weight: bold;
}

html body div.container div#green-field div#brown-field table#changed-member tbody tr.tablebody-tr td.tabledata {
  padding: 0;
}

html body div.container div#green-field div#brown-field table#changed-member tbody tr.tablebody-tr td.tabledata p {
  margin: 0;
}

html body div.container div#green-field div#brown-field table#changed-member tbody tr.tablebody-tr td.tabledata p button {
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  padding: 0;
}

html body div.container div#green-field div#brown-field table#changed-member tbody tr.tablebody-tr td.tabledata div.collapsing div.card-body {
  padding: 1px;
  height: 0px !important;
}

html body div.container div#green-field div#brown-field table#changed-member tbody tr.tablebody-tr td.tabledata div.collapsing div.card-body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body div.container div#green-field div#brown-field table#changed-member tbody tr.tablebody-tr td.tabledata div.collapsing div.card-body ul li {
  list-style: none;
  width: 100%;
  height: 40px;
  border: solid 1px black;
  position: relative;
  padding: 0;
}

html body div.container div#green-field div#brown-field table#changed-member tbody tr.tablebody-tr td.tabledata div.collapsing div.card-body ul li p {
  position: absolute;
  z-index: 0;
}

html body div.container div#green-field div#brown-field table#changed-member tbody tr.tablebody-tr td.tabledata div.collapsing div.card-body ul li .hitting_result {
  width: 100%;
  height: 100%;
  line-height: 50px;
}

html body div.container div#green-field div#brown-field table#changed-member tbody tr.tablebody-tr td.tabledata div.collapsing div.card-body ul li .hitting_result a {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

html body div.container div#green-field div#brown-field table#changed-member tbody tr.tablebody-tr td.tabledata div.collapse div.card-body {
  padding: 1px;
}

html body div.container div#green-field div#brown-field table#changed-member tbody tr.tablebody-tr td.tabledata div.collapse div.card-body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body div.container div#green-field div#brown-field table#changed-member tbody tr.tablebody-tr td.tabledata div.collapse div.card-body ul li {
  list-style: none;
  width: 100%;
  height: 40px;
  border: solid 1px black;
  position: relative;
  padding: 0;
}

html body div.container div#green-field div#brown-field table#changed-member tbody tr.tablebody-tr td.tabledata div.collapse div.card-body ul li p {
  position: absolute;
  z-index: 0;
}

html body div.container div#green-field div#brown-field table#changed-member tbody tr.tablebody-tr td.tabledata div.collapse div.card-body ul li .hitting_result {
  width: 100%;
  height: 100%;
  line-height: 50px;
}

html body div.container div#green-field div#brown-field table#changed-member tbody tr.tablebody-tr td.tabledata div.collapse div.card-body ul li .hitting_result a {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

html body div.container div#green-field div#brown-field a#historyGameBtn {
  float: right;
}
/*# sourceMappingURL=style2_phone.css.map */