html {
    body {
        div.container {
            div#green-field {
                // height: 500px;
                // width: 600px;
                margin-top: 0;
                div#brown-field {
                    height: 560px;
                    background-color: #8b4513;
                    border-width: 5px !important;
                    a#logoutBtn {
                        // float: right;
                        margin: 10px 10px 0 170px;
                    }
                    .list-group {
                        #scroll-container {
                            height: 400px;
                            margin-top: 30px;
                            overflow: auto;
                            a.scroll-item {
                                overflow: hidden;
                                padding: 10px 0;
                                margin-bottom: 3px;
                                height: 60px;
                                position: relative;
                                display: inline-block;
                                p {
                                    position: absolute;
                                    margin: 0;
                                    &.p-date {
                                        display: inline-block;
                                        font-size: 15px;
                                        width: 20%;
                                        top: 50%;
                                        left: 5%;
                                        transform: translateY(-50%) translateX(0);
                                    }
                                    &.p-vs {
                                        display: inline-block;
                                        top: 60%;
                                        left: 30%;
                                        transform: translateY(-50%) translateX(0);
                                    }
                                    &.p-opponent {
                                        display: inline-block;
                                        font-size: 25px;
                                        top: 55%;
                                        left: 40%;
                                        transform: translateY(-50%) translateX(0);
                                    }
                                }
                            }
                        }
                    }
                    #goHomeBtn {
                        position: absolute;
                        top: 500px;
                        left: 50%;
                        transform: translateY(0) translateX(-50%);
                    }
                }
            }
        }
    }
}
