header {
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1;
    margin-right: 15px;
    padding: 0;
    justify-content: center;
    div#header_container {
        background-color: #001e43;
        width: 600px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        div#userId_info {
            position: absolute;
            top: 20px;
            left: 10px;
            // height: 100%;
            p {
                font-weight: bold;
                font-size: small;
                color: aliceblue;
            }
        }
        a#logoutBtn {
            position: absolute;
            text-align: center;
            top: 10px;
            left: 43%;
        }
    }
}
